

body{
    background-color: #cccccc;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index:10;
}

.logo{
    color:#337ab7;
    font-size: 46px;
    text-decoration: none;
}

.logo:hover{
    color: #337ab7;
    text-decoration: none;
}

.login-form input{
    width:140px;
    display: block;
    float: left;
    padding:2px 4px;
    margin-right: 5px;
}

.login-form .btn-login{
    display: inline-block;
    padding: 4px;
    border-radius: 0;
    font-size: 14px;
}

nav li {
    float: left;
}

.content-wrapper{
    margin-top: 300px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #d43f3a;
    z-index: 10;
}
