

body{
    background-color: #cccccc;
}

header{
    width: 100%;
    min-height: 117px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index:10;
}

.logo{
    color:#337ab7;
    font-size: 46px;
    text-decoration: none;
}

.logo:hover{
    color: #337ab7;
    text-decoration: none;
}

.login-form input{
    width:140px;
    display: block;
    float: left;
    padding:2px 4px;
    margin-right: 5px;
}

.login-form .btn-login{
    width:inherit;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 0;
    font-size: 14px;
}

nav li {
    float: left;
}

.content-wrapper{
    margin-top: 180px;
}

.categories{
    margin: 0;
    padding: 0;
}

.categories li{
    list-style:none;
}

.p_item{
    width:259px;
    padding:10px;
    margin:0px 8px;
    background: #fff;
    float: left;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #d43f3a;
    z-index: 10;
}
